h1 {
	font: 54px Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 20px 0 20px 0;
	background: #adffb6; 
	/*background: #ffffff;*/
}

.flex_test {
	display: flex;
	background: #ff78a5;
	/*background: #0036a7;*/
}
 
p{
	margin: 50px 2% 50px 2%;
	padding: 10px;
	width: 30%;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 3px 7px;
	background: #ebffff;
	font: 18px "Times New Roman",
	Georgia, Serif;
}

footer {
	width: 100%;
	height: 50%;
	background: #fff875;
	/*background: #d62718;*/
}

